<div>
  <h2 id="page-heading" data-cy="ComentariosHeading">
    <span jhiTranslate="umbookApp.comentarios.home.title">Comentarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="umbookApp.comentarios.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-comentarios"
        [routerLink]="['/comentarios/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="umbookApp.comentarios.home.createLabel"> Crear nuevo Comentarios </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="comentarios?.length === 0">
    <span jhiTranslate="umbookApp.comentarios.home.notFound">Ningún Comentarios encontrado</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="comentarios && comentarios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="descripcion">
            <span jhiTranslate="umbookApp.comentarios.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fotos.id">
            <span jhiTranslate="umbookApp.comentarios.fotos">Fotos</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comentarios of comentarios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/comentarios', comentarios.id, 'view']">{{ comentarios.id }}</a>
          </td>
          <td>{{ comentarios.descripcion }}</td>
          <td>
            <div *ngIf="comentarios.fotos">
              <a [routerLink]="['/fotos', comentarios.fotos.id, 'view']">{{ comentarios.fotos?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/comentarios', comentarios.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/comentarios', comentarios.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(comentarios)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
