<div>
  <h2 id="page-heading" data-cy="AdminHeading">
    <span jhiTranslate="umbookApp.admin.home.title">Admins</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="umbookApp.admin.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-admin"
        [routerLink]="['/admin/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="umbookApp.admin.home.createLabel"> Crear nuevo Admin </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="admins?.length === 0">
    <span jhiTranslate="umbookApp.admin.home.notFound">Ningún Admins encontrado</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="admins && admins.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nombre"><span jhiTranslate="umbookApp.admin.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="apellido">
            <span jhiTranslate="umbookApp.admin.apellido">Apellido</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mail"><span jhiTranslate="umbookApp.admin.mail">Mail</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="password">
            <span jhiTranslate="umbookApp.admin.password">Password</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipoUsuario">
            <span jhiTranslate="umbookApp.admin.tipoUsuario">Tipo Usuario</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let admin of admins; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/admin', admin.id, 'view']">{{ admin.id }}</a>
          </td>
          <td>{{ admin.nombre }}</td>
          <td>{{ admin.apellido }}</td>
          <td>{{ admin.mail }}</td>
          <td>{{ admin.password }}</td>
          <td>{{ admin.tipoUsuario }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/admin', admin.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button type="submit" [routerLink]="['/admin', admin.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(admin)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
