<div>
  <h2 id="page-heading" data-cy="UsuarioHeading">
    <span jhiTranslate="umbookApp.usuario.home.title">Usuarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="umbookApp.usuario.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-usuario"
        [routerLink]="['/usuario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="umbookApp.usuario.home.createLabel"> Crear nuevo Usuario </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="usuarios?.length === 0">
    <span jhiTranslate="umbookApp.usuario.home.notFound">Ningún Usuarios encontrado</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="usuarios && usuarios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nombre">
            <span jhiTranslate="umbookApp.usuario.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="apellido">
            <span jhiTranslate="umbookApp.usuario.apellido">Apellido</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mail"><span jhiTranslate="umbookApp.usuario.mail">Mail</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="password">
            <span jhiTranslate="umbookApp.usuario.password">Password</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipoUsuario">
            <span jhiTranslate="umbookApp.usuario.tipoUsuario">Tipo Usuario</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="perfil.id">
            <span jhiTranslate="umbookApp.usuario.perfil">Perfil</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="grupos.id">
            <span jhiTranslate="umbookApp.usuario.grupos">Grupos</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="admin.id">
            <span jhiTranslate="umbookApp.usuario.admin">Admin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/usuario', usuario.id, 'view']">{{ usuario.id }}</a>
          </td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apellido }}</td>
          <td>{{ usuario.mail }}</td>
          <td>{{ usuario.password }}</td>
          <td>{{ usuario.tipoUsuario }}</td>
          <td>
            <div *ngIf="usuario.perfil">
              <a [routerLink]="['/perfil', usuario.perfil.id, 'view']">{{ usuario.perfil?.id }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let grupos of usuario.grupos; let last = last">
              <a class="form-control-static" [routerLink]="['/grupos', grupos.id, 'view']">{{ grupos.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="usuario.admin">
              <a [routerLink]="['/admin', usuario.admin.id, 'view']">{{ usuario.admin?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/usuario', usuario.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/usuario', usuario.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(usuario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
