<div>
  <h2 id="page-heading" data-cy="NotificacionesHeading">
    <span jhiTranslate="umbookApp.notificaciones.home.title">Notificaciones</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="umbookApp.notificaciones.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-notificaciones"
        [routerLink]="['/notificaciones/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="umbookApp.notificaciones.home.createLabel"> Crear nuevo Notificaciones </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="notificaciones?.length === 0">
    <span jhiTranslate="umbookApp.notificaciones.home.notFound">Ningún Notificaciones encontrado</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="notificaciones && notificaciones.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tipoNotificacion">
            <span jhiTranslate="umbookApp.notificaciones.tipoNotificacion">Tipo Notificacion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="usuario.id">
            <span jhiTranslate="umbookApp.notificaciones.usuario">Usuario</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let notificaciones of notificaciones; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/notificaciones', notificaciones.id, 'view']">{{ notificaciones.id }}</a>
          </td>
          <td>{{ notificaciones.tipoNotificacion }}</td>
          <td>
            <div *ngIf="notificaciones.usuario">
              <a [routerLink]="['/usuario', notificaciones.usuario.id, 'view']">{{ notificaciones.usuario?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/notificaciones', notificaciones.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/notificaciones', notificaciones.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(notificaciones)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
